<!DOCTYPE html>
<html>
<head>
    <title>Post List</title>
</head>
<body>
    <h1>Post List</h1>
    <ul>
        {% for post in post %}
            <li>
                <strong>{{ post.heading }}</strong><br>
                {{ post.paragraph }}<br>
                <small>{{ post.pubdate }}</small>
                (<a href="{% url 'generate_post_image' post.id %}">Generate Post Image</a>)
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_post' %}">Create a new post</a>
</body>
</html>